.features-area{
    background-image: url("../../../assets/img/fact/fact.png");
    background-position: center;
	background-size: cover;
    padding: 30px;	
}

.features-img-bg {
	padding: 60px 80px 50px 80px;
}

@media (max-width: 576px), (max-width: 768px) {
	.features-img-bg {
		padding: 25px 20px 25px 20px;
	}
}

.features-icon {
	font-size: 55px;
	color: white;
	margin-right: 25px;
}
.features-icon img {
	margin-bottom: 15px;
}


.features-icon svg {
	margin-right: 27px;
}

.features-content {
	max-width: 295px;
}

.features-content h3 {
	color: white;
	font-size: 24px;
}

@media (max-width: 576px), (max-width: 768px), (max-width: 992px) {
	.features-content h3 {
		font-size: 20px;
	}
}

.features-area.margin-top {
	margin-top: -85px;
}
